@import '../../core/src/variables';

.card {
    box-sizing: border-box;
    border: 1px solid $color-gray-400;
    border-radius: 4px;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-width: 340px;

    &__body {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        font-family: $font-default-family;
        font-size: $font-default-size;
        padding: $size-spacing-extra-large;
    }

    &__footer {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        padding: $size-spacing-large $size-spacing-extra-large $size-spacing-extra-large;
    }

    &__footer-item {
        box-sizing: border-box;
        margin-right: $size-spacing-extra-large;
    }
}
